* {
	margin: 0;
	padding: 0;
}

html, body {
	height: 100%;
}

body {
	font: 20px/1.25 Georgia, "Times New Roman", Times, serif;
	background: #F0F0F0;
}

h1, h2, h3, h4, h5, h6 {
	font-family: "Droid Sans", Helvetica, Arial, sans-serif;
}

.central {
	max-width: 900px;
	margin: 0 auto;
}

#header, #footer {
	background: #506870;
	color: #FFFFFF;
	text-align: center;
}

#header {
	height: 4em;
}

#header h1 {
	font-size: 200%;
	line-height: 2em;
	white-space: nowrap;
	overflow: hidden;
}

#content {
	background: #F0F0F0;
	color: #000000;
	min-height: calc(100% - 4em - 3em - 2em);
	padding: 1em;
}

#content p {
	margin: 1em 0;
}

#content input {
	font: 20px/1.25 Georgia, "Times New Roman", Times, serif;
	padding: 4px;
}

#content #action {
	padding: 4px 1em;
}

#footer {
	height: 3em;
}

#footer p {
	font-size: 16px;
	padding: 0.625em 0;
}
